
.desc
{
    text-transform:capitalize;
}

#tempUnit {
	
}

.hidden{
	display: none;
}
.display {
	display: block;
}

#container{
	width:500px;
	margin: auto;
	margin-top: 50px;
}
#result {
	display: inline;	
	width: 50%;
}